/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*--------------------*/

a {
  color: #FFF;
}

body {
  background-color: #000;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
  height: 90px;
  background: url('./assets/img/head.jpg') no-repeat;
  background-repeat: no-repeat;
  background-position: center 0;
}

.logo-container {
  width: 50px;
  height: 50px;
  background: url(./assets/svg/camera-header.svg) no-repeat;
}

.nav-container {
  display: flex;
  font-family: Inter;
  font-size: 20px;
  line-height: 50px;
  color: #FFF
}

.navigation {
  display: flex;
  padding: 0 15px;
}

.nav-item{
  margin: 0 15px;
}

.switch-lng__container {
  font-family: Inter;
font-weight: bold;
font-size: 20px;
line-height: 50px;
text-align: center;
}

.slash {
  margin: 0 5px;
}

.en {
  color: #BDAE82;
}

.hero__container {
  background: url(./assets/img/head.jpg) center -90px no-repeat;
  height: 820px;
  padding: 160px 0 0 80px;
}

.hero {
  width: 500px;
  height: 330px;
}

h1 {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
  color: #FFFFFF;
  margin: 0 0 10px 0;
}

.hero__subtitle {
  margin: 0 30px 25px 0;
  font-family: Inter;
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
}

.btn {
  font-family: Inter;
  font-size: 20px;
  line-height: 55px;
  text-align: center;
  background: #BDAE82;
  text-align: center;
  display: block;
  width: 220px;
  height: 55px;
}

.title__container {
  
  margin: 100px auto 60px;
  width: 740px;
}

.section-title {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #BDAE82;
}

.section-title::before, 
.section-title::after {
  content: '';
  width: 275px;
  height: 2px;
  background-color: #BDAE82;
}

.section-title::before {
  margin-right: 20px;
}

.section-title::after {
  margin-left: 20px;
}

.skills-item__container {
  display: flex;
  color: #FFF;
  font-family: Inter;
  text-align: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  width: 320px;
}

.skill-item__icon {
  height: 50px;
  margin: 0 0 50px 0;
}

.camera-icon {
  background: url(./assets/svg/skills-camera.svg) no-repeat;
  width: 62px;
}

.video-icon {
  background: url(./assets/svg/skills-video.svg) no-repeat;
  width: 60px;
}

.img-icon {
  background: url(./assets/svg/skills-img.svg) no-repeat;
  width: 66px;
}

.micro-icon {
  background: url(./assets/svg/skills-micro.svg) no-repeat;
  width: 32px;
}

.item-title {
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  margin: 0 0 20px 0;
}

.item-subtitle {
  font-size: 18px;
  line-height: 36px;
}

.item-subtitle {
  font-size: 18px;
  line-height: 36px;
  width: 280px;
}

.slider-btn__container{
  display: flex;
  justify-content: space-between;
  margin: 0 auto 60px;
  width: 895px;
  height: 55px;
}

.slider-btn__container button:last-child{
 background: #BDAE82;
 color: black; 
}

.slider-btn {
  border: 2px solid #BDAE82;
  background-color: black;
  color: #BDAE82;
}

.portfolio-items__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 25px;
  height: 1145px;
  width: 1400px;
}

.portfolio-item {
  display: inline-flex;
  height: 560px;
}

.videoplayer__container {
  display: flex;
  align-items: center;
  justify-content:center;
  margin: auto;
  width: 1400px;
  height: 705px;
  background: url(./assets/img/video-player.jpg) no-repeat;
}

.play-button {
  display: block; 
  background: url(./assets/svg/play-button.svg) no-repeat;
  width: 130px;
  height: 130px;
}

.price-item__container {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  height: 505px;
  margin: 0 auto 100px;
}

.price-item {
  border: 3px solid #BDAE82;
  width: 450px;
  height: 505px;
}

.price-item__title {
  text-align: center;
  color: #FFF;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  margin: 43px auto 20px;
}

.price-item__price {
  display: block;
  text-align: center;
  color: #BDAE82;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  margin: 20px auto;
}

.price-item__option-list__option {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.price-btn {
  display: block;
  margin: 40px auto;
}

.contacts {
  background: url(./assets/img/bottom.jpg) no-repeat;
  width: 1440px;
  height: 700px;
  padding-top: 60px;
}

.contact__container {
  width: 450px;
  height: 445px;
  margin: 0 20px 195px 970px;
}

.contact-title {
 font-family: Merriweather;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: #BDAE82; 
  margin: 0 0 40px 0 ;
}

.contact-email,
.contact-phone {
  display: block;
  padding-left: 0;
  margin: 0 0 20px 0;
  width: 450px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #bdae82;
}

.contact-email::placeholder,
.contact-phone::placeholder,
.contact-message::placeholder {
  padding-left: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
}

.contact-message {
  padding: 0 0 40px 0;
  margin: 0 0 30px 0;
  width: 450px;
  height: 100px;
  resize: none;
  background-color: transparent;
  border: 2px solid #bdae82;
}