/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/

html,
body {
    height: 100%;
}

body {
    width: 100%;
    background: #121829;
    background-size: cover;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    background: url("./assets/svg/background.png") no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 auto;
}

.link,
a.link {
    cursor: pointer;
    margin: 0 15px;
    text-decoration: none;
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #A8AEBF;
    min-width: max-content;
}


.footer__container {
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 80px;
    width: 100%;
    margin-top: 100px;
}


.links__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;
}

.link:hover {
    color: white;

}

.rs-logo__container {
    background: url("./assets/svg/logo-rs.svg") 50% 50% no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
}

h1 {
    min-width: max-content;
    margin: 80px auto 60px;
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -0.02em;
    color: #EBEEF5;
}

.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    max-width: 100%;
    height: 60px;
}

.search-icon {
    background: url("./assets/svg/search.svg") 50% no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-right: -50px;
    z-index: 999;
}

.form {
    flex-basis: 100%;
}

.search {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    border: 3px solid #323B54;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: Poppins, serif;
    font-size: 24px;
    line-height: 16px;
    color: white;
    padding: 0 20px 3px 60px;
    opacity: 0.5;
}

.input-text::-webkit-search-cancel-button {
    width: 15px;
    height: 15px;
    background-size: cover;
    cursor: pointer;
}

.search::placeholder {
    font-family: Poppins, serif;
    font-size: 18px;
    line-height: 16px;
    color: #3a455e
}

form {
    height: 100%;
}

.movies__container {
    padding: 0 20px;
    gap: 25px;
    max-width: 1300px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.movies-item {
    position: relative;
    margin: 0 auto;
    border-radius: 12px;
    padding: 8px 8px 0;
    width: 285px;
    height: 500px;
    background: rgba(32, 40, 62, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    overflow-y: hidden;
    box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
}

.overview {
    left: 0;
    top: 0;
    right: 0;
    height: 85%;
    padding: 10%;
    position: absolute;
    overflow-y: auto;
    transition: 0.6s;
    font-family: Poppins, serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    opacity: 0;
    color: white;
}

.movies-item:hover .overview {
    background: rgb(32, 40, 62);
    opacity: 0.95;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #323B54;
    border-radius: 5px;
    width: 8px;
}

.movie-cover {
    margin-bottom: 15px;
    width: 265px;
    height: 400px;
    background-size: contain;
    border-radius: 8px;
    font-family: Poppins, serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.02em;

}

.info__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
}

.movie-title {
    height: max-content;
    margin: 8px 25px 8px 15px;
    font-family: Poppins, serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #EBEEF5;
}

.movie-score {
    width: 40px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.65);
    padding: 4px 8px;
    border-radius: 8px;
    margin-right: 15px;
    font-family: Poppins, serif;
    font-size: 16px;
    line-height: 24px;
    color: #FFAD49;
}

@media (max-width: 450px) {
    .footer__container {
        height: 150px;
        flex-direction: column;
    }
}